    * {
        margin: 0;
        padding: 0;
        border: none;
        display: 200vh
    }

    body {
        font-family: sans-serif;
        font-weight: 300;
        color: ;
    }

    /* Header */

    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: white;
        padding: 1em;

    }



    /* Heading */

    #logo {
        color: ;
        position: absolute;
        font-family: sans-serif;
        font-size: 250%;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-left: 20px;
        margin-top: 5px;

    }

    /* Navigation bar and links */


    #navigation {
        font-size: 120%;
        letter-spacing: 4px;
        position: relative;
    }



    #navigation li {
        color: ;
        list-style-type: none;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        margin-right: 50px;
        margin-top: 10px;
        float: right;

    }

    #navigation a {
        color: ;
        text-decoration: none;
        color: inherit;
    }

    #navigation a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .active {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Hero Image*/

    #hero-video {
        height: 600px;
        width: 100%;
        background: url('../images/sticks.jpg') no-repeat center center;
    }

    /* photos, about and contact */

    #middle {
        position: relative;
    }

    #middle div {
        position: absolute;
        text-transform: uppercase;
        margin-top: 10px;
    }

    #welcome {
        boarder: 2px solid black;
        max-width: 600px;
        margin: auto;
    }

    hr {
        border-top: 1px solid #3a3a3a;
        width: 100%;
        margin: 5px 0;
    }

    #photos {
        text-align: center;
        left: 10%;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
    }

    #about {
        text-align: center;
        right: 35%;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
    }

    #contact {
        text-align: center;
        right: 10%;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
    }

    .photos-info {
        max-width: 300px;
        text-align: left;

    }

    .about-info {
        max-width: 300px;
        text-align: left;
    }

    .contact-info {
        max-width: 300px;
        text-align: left;
    }