    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Old+Standard+TT:ital@1&display=swap');


    * {
        box-sizing: border-box;
        text-align: center;

    }

    body {
        font-family: 'Old Standard TT', 'sans-serif';
        font-weight: 300;

    }



    p {
        font-family: 'Old Standard TT', 'sans-serif';
        font-size: 30px;
        letter-spacing: 2px;
        margin: 10px;


    }

    li {
        font-size: 30px;
        text-shadow: 2px 2px 5px grey;

    }

    h1,
    h2 {
        font-family: 'Montserrat', 'sans-serif';

    }

    h4 {
        font-family: 'Old Standard TT', 'sans-serif';
        font-size: 20px;
        text-decoration: underline 2px black;
        -webkit-text-decoration: underline black;
        text-underline-offset: 1.5em;
        margin-top: 0px;
    }



    html,
    body {
        margin: 0;
        height: 100%;

    }




    /*Home page*/

    .hero {
        background-image: url('../images/lakes/lakes2.webp');
        background-size: cover;
        background-position: center;
        width: 100wh;
        height: 100vh;
        display: flex;
    }

    .center-content {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    & h1,
    h3 {
        color: black;
        line-height: 1;

    }

    & h1 {
        text-transform: uppercase;
        font-size: 3em;
        margin-bottom: 0;
        text-align: center;

    }

    & h3 {
        margin-bottom: 40px;
        font-size: 1.5em;
        font-weight: normal;
        background-color: rgba(0, 0, 0, 0.4);
        text-shadow: 2px 2px 5px black;
        padding: 10px;
        color: white;
    }

    .button {
        text-transform: uppercase;
        color: white;
        padding: 20px;
        border: 1px solid white;
        text-decoration: none;
        font-family: Montserrat, sans-serif;
        border-radius: 25%;
        background-color: rgba(0, 0, 0, 0.4);


    }

    #home-text {
        background-color: rgba(0, 0, 0, 0.4);
        text-shadow: 2px 2px 5px black;
        padding: 10px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button:hover {
        background-color: rgba(3, 3, 3, 0.911);
        border-color: rgba(255, 255, 255, 0.7);
        color: white;
    }

    /* Navigation Menu */

    .logo {
        font-family: Montserrat, sans-serif;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: black;
        color: #fff;
        height: 50px;
        padding: 1em;
        width: 100%;
    }

    /* Menu List drop down*/
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        font-family: Montserrat, sans-serif;

    }

    .menu a {

        text-decoration: none;
        color: inherit;
    }

    .menu a:hover {
        transition: 0.5s;
        color: red;
    }

    .active {
        border-bottom: 1px solid red;
    }

    .menu>li {
        margin: 0 1rem;
        overflow: hidden;

    }

    /* Click drop down menu button */
    .menu-button-container {
        display: none;
        height: 5px;
        width: 30px;
        margin-right: 20px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .toggler {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: "";
        margin-top: -8px;
    }

    .menu-button::after {
        content: "";
        margin-top: 8px;
    }

    .toggler:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    .toggler:checked+.menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    .toggler:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }


    /* Show toggler */
    .menu-button-container {
        display: flex;
    }

    /* set the actual menu dimention if shown by toggeling */
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        right: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

    }

    /* when toggler is not checked */
    .toggler~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    /* when toggler is checked */
    .toggler:checked~.menu li {

        height: 3.0em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

    }

    /* Menu drop down items */
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        color: white;
        background-color: black;

    }

    /* border for all menu items but the last one */
    .menu>li:not(:last-child) {
        border-bottom: 1px solid black;
    }

    /* Card Main Section */

    .welcome-main {}

    #welcome-text {
        margin-top: 15px;
        margin-bottom: 25px;
        color: black;
        text-decoration: underline black 2px;
        -webkit-text-decoration: underline black;
        text-underline-offset: 0.3em;
    }

    .main-wrapper {
        margin: ;
        /*CHANGE FOR DESKTOP ABOUT PAGE WIDTH*/

    }

    .row {
        display: flex;
        flex-direction: row;
        width: 100%;


    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-basis: 100%;
        flex: 1;
        margin: ;
        /*CHANGE FOR DESKTOP ABOUT PAGE WIDTH*/

    }

    .main-image {

        width: 100%;

    }

    #imageme {
        content: url(../images/aboutme.webp);
        width: 100%;

    }

    #logo {
        width: auto;
    }

    .main-about {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;

    }

    .main-about img {
        width: 100%;
    }

    .main-about p {
        font-size: 20px;
    }

    .main-gallery {
        background-image: url('../images/lakes/lakes2.webp');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        display: flex;

    }

    #gallery-link {
        background-image: url('../images/lakes/lakes7.webp');
    }

    .main-gallery-text {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    /* Gallery section */

    .gallery-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }



    .dales-box {
        background: url('../images/dales/dales5.webp') no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 500px;
        width: 100%;
        margin: 20px 0;

    }

    .peaks-box {
        background: url('../images/peaks.webp') no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 500px;
        width: 100%;
        margin: 20px 0;
    }

    .lincoln-box {
        background: url('../images/winter.webp') no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 500px;
        width: 100%;
        margin: 20px 0;
    }

    .lakes-box {
        background: url('../images/Lakescover.webp') no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 500px;
        width: 100%;
        margin: 20px 0;

    }

    /* Gallery Section */



    .container {
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .trans {
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        -webkit-transition: all 1s ease;
    }

    .top {
        display: flex;
        width: 80vw;
        height: 80vh;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10vh;
    }

    .top ul {
        list-style: none;
        width: 100%;
        height: 100%;
        z-index: 1;
        box-sizing: border-box;
    }

    .top ul li {
        position: relative;
        float: left;
        width: 25%;
        height: 25%;
        overflow: hidden;
    }

    .top ul li::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: ;
        content: '';
        color: white;
        opacity: 0.4;
        text-align: center;
        box-sizing: border-box;
        pointer-events: none;
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .top ul li:hover::before {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.90);
    }

    .top ul li img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .lightbox {
        position: fixed;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 999;
        opacity: 0;
        pointer-events: none;
    }

    .lightbox img {
        max-width: 90%;
        max-height: 80%;
        position: relative;
        top: -100%;
        /* Transition */
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        -webkit-transition: all 1s ease;
    }

    .lightbox:target {
        outline: none;
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 1.2s ease;
        -moz-transition: all 1.2s ease;
        -ms-transition: all 1.2s ease;
        -o-transition: all 1.2s ease;
        -webkit-transition: all 1.2s ease;
    }

    .lightbox:target img {
        top: 0;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    /* Box button and text styling*/

    #button-gallery {
        margin-bottom: 100px;
    }








    /* footer */

    footer {
        height: 60px;
        background-color: black;

    }

    .social-network {
        text-align: center;

    }

    .social-network>li {
        display: inline;
    }

    .social-network i {
        font-size: 40px;
        list-style-type: none;
        margin-right: 15px;
        color: white;
        text-shadow: 2px 2px 2px grey;

    }



    /* Gallery section test*/





    /* MEDIA */

    @media (min-width: 320px) and (max-width: 480px) {

        & h1 {
            font-size: 2.5em;
            margin-bottom: 5%;

        }

        h2,
        h3 {
            font-size: 1.5em;



        }

        .hero {
            width: 100%;
        }

        .row {
            flex-direction: column;
            margin: 0;

        }



        p {
            font-size: 15px;
        }

        .column {
            margin-top: 5px 0px;
            padding: 0;

        }

        .main-about {

            width: 100%;
        }

        .main-gallery {

            height: 400px;
            width: 100%;

        }

        .main-gallery-text {
            width: 350px;


        }

        .social-network {
            display: flex;
            list-style-type: none;
            float: left;
            margin-left: 60px;


        }

        .top-nav {
            height: 6.45vh;

        }

        .toggler:checked~.menu li {
            height: 2em;
        }

        .active {
            border: none;

        }

        .dales-box {
            height: 300px;


        }

        .peaks-box {
            height: 300px;
        }

        .lincoln-box {
            height: 300px;
        }

        .lakes-box {
            height: 300px;
        }

        .top ul li {
            width: 50%;
            margin-bottom: 0px;

        }

        .top {
            align-items: center;
            justify-content: center;
            margin: 0px 20px;
        }

        #back-button {
            margin-bottom: 10px;

        }

    }

    /*Device=Low Resolution Tablets,
    Mobiles (Landscape) ##Screen=B/w 481px to 767px */
    @media (min-width: 481px) and (max-width: 767px) {

        /* CSS */

    }

    /*Device=Tablets,
    Ipads (landscape) ##Screen=B/w 768px to 1024px */
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

        /* CSS */

    }

    /*Device=Desktops ##Screen=1281px to higher resolution desktops*/
    @media (min-width: 1281px) {

        /* CSS */

    }

    #gallery-head {
        background-color: black;
        color: white;
    }